table.datav3 {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

    table.datav3 td, th {
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        border-right: 1px inset #ddd;
        padding: 2em;
    }

    table.datav3 tbody tr:nth-child(odd) {
        background-color: #FCFCFC;
    }

    table.datav3 tbody tr:hover {
        background-color: rgba(228, 210, 190, 0.22);
    }